<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<RollingFile name="RollingLogFlie"
			fileName="./logs/NVCLDataServices.log"
			filePattern="./logs/NVCLDataServices-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d %-5p %c{2} - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
		<Async name="asyncAppender" includeLocation="true">
			<AppenderRef ref="RollingLogFlie" />
			<AppenderRef ref="STDOUT" />
		</Async>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- uncomment bellow to enable debug logging -->
<!-- 		<Logger name="org.auscope" level="debug" additivity="false"> <AppenderRef -->
<!-- 			ref="asyncAppender" /> </Logger> -->
		<Root level="warn" includeLocation="true" additivity="false">
			<AppenderRef ref="asyncAppender" />
		</Root>
	</Loggers>
</Configuration>