
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head> 
 	<title>Spectral Data Plot</title>

<script src="script/d3.min.js"></script>
<script src="script/rickshaw.min.js"></script>
<link rel="stylesheet" href="style/rickshaw.min.css">

<script type="text/javascript" th:inline="javascript">

function drawgraph(specdata,wavelengths,speclogidindex) {

	var data = [];

	var spectracount = specdata.length;
	var palette = new Rickshaw.Color.Palette( { scheme: 'munin' } );
	for (var j=0;j<spectracount;j++)
	{
		var d1 =[];
		
		for (var i = 0; i < specdata[j].floatspectraldata.length; i++) {
			d1.push({x:parseInt(wavelengths[i]), y: specdata[j].floatspectraldata[i]});
		}
		data.push({data:d1,name:"Reflectance Sample "+((j-Math.floor(spectracount/2))>0? "+"+ (j-Math.floor(spectracount/2)):(j-Math.floor(spectracount/2))) ,color:palette.color()});
	}
	var graph = new Rickshaw.Graph( {
		element: document.getElementById("chart"+[[${msgMap['startSampleNo']}]]+"_"+speclogidindex),
		width: [[${msgMap['width']}]],
		height: [[${msgMap['height']}]],
		renderer: 'line',
		padding: {top: 0.05, left: 0.05, right: 0.05, bottom: 0.05},
		series: data,
		min: 'auto'
	} );

	var y_axis = new Rickshaw.Graph.Axis.Y( {
		graph: graph,
		tickFormat:d3.format('.2f')
	} );
	var x_axis = new Rickshaw.Graph.Axis.X( {
        graph: graph,
        tickFormat:d3.format('.0f')
    } );
	var legend = new Rickshaw.Graph.Legend( {
        element: document.querySelector("#legend"+[[${msgMap['startSampleNo']}]]+"_"+speclogidindex),
        graph: graph
    } );
	var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
		graph: graph,
		legend: legend
	} );
	var hoverDetail = new Rickshaw.Graph.HoverDetail( {
		graph: graph,
		xFormatter: function(x,y) {
			return x.toString();
		}
	} );
	graph.render();
}


</script>
<style th:inline="css">
.chart_container
{
	position: relative;
    width: [[${msgMap['width']}]]px;
}
.legend
{
position: absolute;
top: 10px;
right: 10px;
display:none;
}
</style>
</head>



<body style="overflow:hidden">
		<div id="plotspectra" th:attrappend="id=${msgMap['startSampleNo']}"></div>

<script input th:inline="javascript">

(async function() {

	var specids= [[${msgMap['logId']}]];
	var startSampleNo = [[${msgMap['startSampleNo']}]];
	var endSampleNo = [[${msgMap['endSampleNo']}]];

	var k;
	for (k=0; k<specids.length;k++)
	{

		var wavelengths;

		document.querySelector('#plotspectra'+startSampleNo).innerHTML ="<div id=\"chart_container"+startSampleNo+"_"+k+"\" class=\"chart_container\"><div id=\"chart"+startSampleNo+"_"+k+"\" class=\"chart\"></div><div id=\"legend"+startSampleNo+"_"+k+"\" class=\"legend\"></div></div>";
		const response = await fetch("getSpectralLogSamplingPoints.html?speclogid="+specids[k]);
		const data = await response.json();
		wavelengths = data["wavelengths"].split(",");
		
		const dataresponse = await fetch("getspectraldata.html?speclogid="+specids[k]+"&startsampleno="+startSampleNo+"&endsampleno="+endSampleNo+"&outputformat=json");
		const specdata = await dataresponse.json();
		drawgraph(specdata,wavelengths,k)
		
	}
})();

</script>
</body>
</html>